---
import { Image } from "astro:assets";
import config from "@/config/config.json";
const { src, class: className = "" } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: string;
  logo_height: string;
  logo_text: string;
  title: string;
} = config.site;

// Convert logo dimensions to numbers
const width = parseInt(logo_width);
const height = parseInt(logo_height);

// Calculate aspect ratio
const aspectRatio = width / height;

// Set a maximum height for the logo (adjust this value as needed)
const maxHeight = 13; // in pixels

// Calculate new width based on max height and aspect ratio
const newWidth = Math.round(maxHeight * aspectRatio);
---

<a href="/" class={`navbar-brand block ${className}`}>
  {
    src || logo ? (
      <Image
        src={src ? src : logo}
        alt={title}
        width={newWidth}
        height={maxHeight}
        style={{
          height: `${maxHeight}px`,
          width: `${newWidth}px`,
          maxHeight: "100%",
          maxWidth: "100%",
          objectFit: "contain",
        }}
      />
    ) : logo_text ? (
      logo_text
    ) : (
      title
    )
  }
</a>